<div class="table-responsive">
    <% if(coupons) { %>
        <% coupons.reverse() %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="bg-primary text-white">
                        
                        <th scope="col">Coupon Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Discount Amount</th>
                        <th scope="col">Min Spent</th>
                    </tr>
                </thead>
                <tbody>
                    <% coupons.forEach((coupon) => { %>
                        <tr>
                            <td>
                                <%=coupon.couponCode%>
                            </td>
                            <td>
                                <%=coupon.couponName%>
                            </td>
                            <td>
                                <%=coupon.discountAmount%>
                            </td>
                            <td>
                                <%=coupon.minimumSpend%>
                            </td>
                           
                        </tr>
                    <% }) %>
                </tbody>
            </table>
    <% } %>
</div>
