

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyGreens</title>

  <!-- Google Font -->
  <link href="/images/shoezy.jpg" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- Css Styles -->
  <link rel="stylesheet" href="/user/signup/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/style1.css" type="text/css">
  <link rel="stylesheet" href="/user/signup/css/style.css">
</head>


<body>